@model MathMania.Models.AdditionVm
@{ViewBag.Title = "Index";
    Layout = null;}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/bootstrap.css")
    <title>Welcome to Math Mania</title>
    <style>
        #add1, #add2, #plusLbl, #equalSign {
            color: white;
            font-size: 40px;
        }

        #addModule {
            display: block;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body style="background: url(../../Images/underwater2.png) no-repeat center center fixed;">
    <div>
        @{
            Random randomizer = new Random();
            int addend1 = randomizer.Next(0, 10);
            int addend2 = randomizer.Next(0, 10);
        }
    </div>
    <div id="addModule">

        <div id="add1">@addend1</div>
        <div id="plusLbl"> + </div>
        <div id="add2">@addend2</div>
        <div id="equalSign"> = </div>
        @*<input id="answer" type="text" />*@
        <br /><br />
        @*<input id="result" type="button" value="Submit" />*@
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" id="result"
             class="btn btn-default" onclick="location.href='@Url.Action("Addition", "Addition")'" />*@

        <form method="post" onsubmit="result(); return false;">
            <input type="text" id="answer" placeholder="type answer" />
            <input type="submit" value="Check" />
        </form>


    </div>


    <script>
        function result() {
            if (answer.value == addend1 + addend2) {
                window.alert("correct!");
            } else {
                window.alert("try again");
                   }
            }
    </script>
  
    
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
