@model MathMania.Models.AdditionVm
@{ViewBag.Title = "Index";
    Layout = null;}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    @Styles.Render("~/Content/bootstrap.css")
    <title>Welcome to Math Mania</title>
    <style>
        #add1, #add2, #plusLbl, #equalSign {
            color: white;
            font-size: 40px;
        }

        #addModule {
            display: block;
            text-align: center;
            padding-top: 100px;
            margin-left:-20%;
        }
        #myAd {
            width: 1600px;
            height: 600px;
            position: relative;
            overflow: hidden;
            opacity: 1;
        }

            #myAd .myAd_Img {
                position: absolute;
                background: url("../../Images/fish.png") no-repeat 0px 0px;
            }

            #myAd #myAd_fish {
                width: inherit;
                height: inherit;
                top: 0px;
                left: 0px;
                background-repeat: repeat-x;
            }
    </style>
</head>
<body style="background: url(../../Images/underwater2.png) no-repeat center center fixed;">
    <div id="myAd">
        <div class="myAd_Img" id="myAd_fish" style="z-index:-100;"></div>
        <div style="z-index:200;position:relative;">
            @{
                Random randomizer = new Random();
                int addend1 = randomizer.Next(0, 10);
                int addend2 = randomizer.Next(0, 10);
            }
        </div>
        <div id="addModule">

            <div id="add1">@addend1</div>
            <input type="hidden" id="addend1" value="@addend1" />
            <div id="plusLbl"> + </div>
            <div id="add2">@addend2</div>
            <input type="hidden" id="addend2" value="@addend2" />
            <div id="equalSign"> = </div>
            @*<input id="answer" type="text" />*@
            <br /><br />
            @*<input id="result" type="button" value="Submit" />*@
            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" id="result"
                 class="btn btn-default" onclick="location.href='@Url.Action("Addition", "Addition")'" />*@

            <input type="text" id="answer" placeholder="type answer" />
            <input type="button" onclick="result();" value="Check" />

           @* <input type="button" id="details" value="Check" onclick="result();">*@

        </div>
    </div>

        <script>
            function result() {
                var answer = document.getElementById("answer");
                var addend1 = document.getElementById("addend1");
                var addend2 = document.getElementById("addend2");
                if (parseInt(answer.value) == parseInt(addend1.value) + parseInt(addend2.value)) {
                    window.alert("correct!");
                } else {
                    window.alert("try again");
                }
            }
        </script>
    <script type="text/javascript" src="~/Scripts/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/EasePack.min.js"></script>
    <script type="text/javascript" src="~/Scripts/TweenLite.min.js"></script>
    <script type="text/javascript" src="~/Scripts/TimelineMax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/TweenMax.min.js"></script>
    <script type="text/javascript">
            (function () {
                var tl2 = new TimelineMax({ repeat: -1 });
                tl2.to('#myAd_fish', 3500, { backgroundPositionX: -26490, ease: Back.easeOut });
            }());

    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
