@model MathMania.Models.AdditionVm
@{ViewBag.Title = "Index";
    Layout = null;}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    @Styles.Render("~/Content/bootstrap.css")
    <title>Welcome to Math Mania</title>
    <style>
        #add1, #add2, #plusLbl, #equalSign {
            color: white;
            font-size: 40px;
        }

        #addModule {
            display: block;
            text-align: center;
            padding-top: 100px;
            margin-left: -20%;
        }

        #myAd {
            width: 1600px;
            height: 600px;
            position: relative;
            overflow: hidden;
            opacity: 1;
        }

            #myAd .myAd_Img {
                position: absolute;
                background: url("../../Images/fish.png") no-repeat 0px 0px;
            }

            #myAd #myAd_fish {
                width: inherit;
                height: inherit;
                top: 0px;
                left: 0px;
                background-repeat: repeat-x;
            }

        #correctImage {
            animation-delay: 5s;
            margin-left: 400px;
            margin-top: -400px;
        }

        #incorrectImage{
            position: relative;
            margin-top: -220px;
            margin-left: -650px;
            z-index: -100;
        }
        #next{
            position:absolute;
            width:50px;
            margin-top:-15px;
        }
        #check {
            position: absolute;
            width: 50px;
            margin-top: -15px;
        }


        #home::before {
            content: url(../../Images/home.png);
        }

        #reg::before {
            content: url(../../Images/reg.png);
        }

        #lock::before {
            content: url(../../Images/exam.png);
        }
    </style>
</head>
<body style="background: url(../../Images/underwater2.png) no-repeat center center fixed;">
    <div class="btn btn-default col-md-offset-9" id="home" style="margin-top: 10px;">
        @Html.ActionLink("Home", "Welcome")
    </div>
    <div class="btn btn-default col-md-offset-9" id="reg" style="margin-top: 10px;  margin-left:5px; position:relative">
        @Html.ActionLink("Logout", "Index")
    </div>
    <div id="myAd">
        <div class="myAd_Img" id="myAd_fish" style="z-index:-100;"></div>
        <div style="z-index:200;position:relative;">
            @{
                Random randomizer = new Random();
                int addend1 = randomizer.Next(0, 10);
                int addend2 = randomizer.Next(0, 10);
            }
        </div>
        <div id="addModule">
            <p><img src="~/Images/correct_jelly.png" height="100" width="100" hidden /> </p>
            <div id="add1">@addend1</div>
            <input type="hidden" id="addend1" value="@addend1"/>
            <div id="plusLbl"> + </div>
            <div id="add2">@addend2</div>
            <input type="hidden" id="addend2" value="@addend2" />
            <div id="equalSign"> __________ </div>

            <br /><br />

            <input type="text" id="answer" style="width:100px;" />
            <input type="image" src="~/Images/check.png" onclick="result();" id="check" value="Check" style="visibility:visible;"/>
            <input type="image" id="next" src="~/Images/next.png" style="visibility:hidden;" onclick="location.reload();" value="Next" />
            <div id="correctImage" style="visibility:hidden;"><img src="~/Images/correct_jellyfish.png" /></div>
            <div id="incorrectImage" style="visibility:hidden;"><img src="~/Images/shark.png" height="300" /></div>


        </div>
    </div>
    <script>
        function result() {
            var answer = document.getElementById("answer");
            var addend1 = document.getElementById("addend1");
            var addend2 = document.getElementById("addend2");

            if (parseInt(answer.value) == parseInt(addend1.value) + parseInt(addend2.value)) {
                document.getElementById("correctImage").style.visibility = "visible";
                document.getElementById("incorrectImage").style.visibility = "hidden";
                document.getElementById("next").style.visibility = "visible";

                
            } else {
                

               
                document.getElementById("incorrectImage").style.visibility = "visible";
            }
        }


    </script>
    <script type="text/javascript" src="~/Scripts/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="~/Scripts/EasePack.min.js"></script>
    <script type="text/javascript" src="~/Scripts/TweenLite.min.js"></script>
    <script type="text/javascript" src="~/Scripts/TimelineMax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/TweenMax.min.js"></script>
    <script type="text/javascript">
        (function () {
            var tl2 = new TimelineMax({ repeat: -1 });
            tl2.to('#myAd_fish', 3500, { backgroundPositionX: -26490, ease: Back.easeOut });
        }());

    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
